@use 'sass:map';
@use '~@angular/material' as mat;

iot-top-nav-bar nav {
  //position: fixed;
  //top: 0;
  //left: 0;
  //right: 0;
  //z-index: 2;
}

@mixin color($theme) {
  // Get the color config from the theme.

  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $background: map.get($color-config, background);
  $height: map.get($theme, top-nav-height);

  .flex-spacer {
    flex-grow: 1;
  }

  iot-top-nav-bar nav {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: $height;
    padding: 4px 16px;
    background: mat.get-color-from-palette($primary-palette, 500);
    color: mat.get-color-from-palette($primary-palette, default-contrast);

    //@include color($color-config);

  }

}

@mixin typography($theme) {
  // Get the typography config from the theme.
  $typography-config: mat.get-typography-config($theme);

  iot-top-nav-bar nav {
    font-family: mat.font-family($typography-config);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
