/*!
 * Copyright (C) Io-Things, BV - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Stefaan Ternier <stefaan@io-things.eu>, 1/6/2020
 */
@use 'sass:map';
@use '~@angular/material' as mat;

iot-dashboard .centered-content {
  display: flex;
  min-width: 331px;
  justify-content: center;
}

.box-sizing {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.iot-inner-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.iotcol-1 {
  width: 320px;
}

.iotcol-2 {
  width: 656px;
}
.iotcol-3 {
  width: 992px;
}
.iotcol-4 {
  width: 1328px;
}

@mixin iot-card-theme($theme) {
  $color-config: mat.get-color-config($theme);

  $primary: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  $warn: map.get($color-config, warn);
  $background: map.get($color-config, background);
  $foreground: map.get($color-config, foreground);

  .iot-card-scss {
    //@include _mat-theme-overridable-elevation(1, $theme);//color: #1a73e8
    background: mat.get-color-from-palette($background, card);
    color: mat.get-color-from-palette($foreground, text);

    // Needs extra specificity to be able to override the elevation selectors.
    //&.mat-card-flat {
    //  @include _mat-theme-overridable-elevation(0, $theme);
    //}

    .iot-card-subtitle {
      color: mat.get-color-from-palette($foreground, secondary-text);
    }

    .iot-ink-bar {
      border-top-color: mat.get-color-from-palette($primary, default);
    }

    iot-title-style {
      color: mat.get-color-from-palette($foreground, text);

      .mat-tab-label:focus {
        color: mat.get-color-from-palette($foreground, text);
      }
    }
  }

  .invisible-style {
    color: mat.get-color-from-palette($primary, default);
    visibility: hidden;
  }

  .invisible-style-accent {
    color: mat.get-color-from-palette($accent, default);
    visibility: hidden;
  }
}

@mixin typography($theme) {
  // Get the typography config from the theme.
  $typography-config: mat.get-typography-config($theme);

  .iot-card-title {
    font-family: mat.font-family($typography-config);
    font-weight: mat.font-weight($typography-config, 'subheading-1');
    font-size: mat.font-size($typography-config, 'subheading-1');
  }

  .iot-card-outer-title {
      margin: 16px 0 0px 0px;
      line-height: 14px;
      font-family: mat.font-family($typography-config);
      font-weight: mat.font-weight($typography-config, 'subheading-2');
      font-size: mat.font-size($typography-config, 'subheading-2');

  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include iot-card-theme($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }

}
