.header-text {
  color: rgba(0, 0, 0, 0.5);

  color: #202124;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  letter-spacing: 0;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}


.header-sub-text {
  font-family: Roboto, Arial, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: .0142857143em;
  line-height: 1.25rem;
  color: #5f6368;
  max-width: 900px;
}

.header {
  margin-left: -5px;
  padding-bottom: 16px;
  margin-bottom: 5px;

  padding-right: 24px;
  padding-top: 24px;
  border-bottom: 1px solid #dadce0;

  display: flex;
  flex-direction: column;

  flex: 1;
  justify-content: space-between;
  margin-top: -8px;
  min-height: 32px;
}
