@use 'sass:map';
@use '~@angular/material' as mat;


@mixin color($theme) {
  // Get the color config from the theme.

  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $background: map.get($color-config, background);
  $height: map.get($theme, top-nav-height);

  .is-active .side-nav {
    color: mat.get-color-from-palette($accent, 600);
  }

  .is-active .link-box {
    background-color: mat.get-color-from-palette($accent, 50);
  }
  .link-box:hover {
    background-color: mat.get-color-from-palette($primary-palette, 50);
  }

  iot-side-nav-bar mat-drawer-container {
    height: 100%;
  }

}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }


}

