/*!
 * Copyright (C) Io-Things, BV - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Stefaan Ternier <stefaan@io-things.eu>, 1/6/2020
 */
@use 'sass:map';
@use '~@angular/material' as mat;

iot-key-value-card td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 24px;
}

iot-key-value-card td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 24px;
}

iot-key-value-card .value {
  text-align: right;
}

@mixin key-value-theme($theme) {
  $color-config: mat.get-color-config($theme);

  $primary: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  $warn: map.get($color-config, warn);
  $background: map.get($color-config, background);
  $foreground: map.get($color-config, foreground);

  iot-key-value-card .warnrow {
    background-color: mat.get-color-from-palette($warn, 200);
  }

}

@mixin typography($theme) {
  // Get the typography config from the theme.
  $typography-config: mat.get-typography-config($theme);

  iot-key-value-card .text {

    font-family: mat.font-family($typography-config);
    font-size: mat.font-size($typography-config, 'body-1');
  }

  //.iot-card-title {
  //  font-family: mat.font-family($typography-config);
  //  font-weight: mat.font-weight($typography-config, 'subheading-1');
  //  font-size: mat.font-size($typography-config, 'subheading-1');
  //}
  //
  //.iot-card-outer-title {
  //  margin: 16px 0 0px 0px;
  //  line-height: 14px;
  //  font-family: mat.font-family($typography-config);
  //  font-weight: mat.font-weight($typography-config, 'subheading-2');
  //  font-size: mat.font-size($typography-config, 'subheading-2');
  //
  //}
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include key-value-theme($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }

}
