/*!
 * Copyright (C) Io-Things, BV - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Stefaan Ternier <stefaan@io-things.eu>, 1/6/2020
 */
@use 'sass:map';
@use '~@angular/material' as mat;

.time-of-day .rect {
  cursor: pointer;
}

.time-of-day .domain {
  display: none
}

.time-of-day line {
  display: none
}

.time-of-day .ga-time-of-day-chart {
  display: block;
  height: 100%;
  width: 100%
}


.time-of-day .ga-time-of-day-chart text {
  fill: rgba(0, 0, 0, 0.54);
  font-family: Roboto, sans-serif;
  font-size: 12px
}


@mixin iot-time-of-the-day-theme($theme) {
  $color-config: mat.get-color-config($theme);

  $primary: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  $warn: map.get($color-config, warn);
  $background: map.get($color-config, background);
  $foreground: map.get($color-config, foreground);

  .ga-time-of-day-chart rect {
    fill: rgba(0, 0, 0, 0)
  }

  .ga-time-of-day-chart .blue-1 rect {
    //fill: #93d5ed
    fill: mat.get-color-from-palette($primary, 200) !important;

  }

  .ga-time-of-day-chart .blue-2 rect {
    //fill: #45a5f5
    fill: mat.get-color-from-palette($primary, 400) !important;
  }

  .ga-time-of-day-chart .blue-3 rect {
    //fill: #4285f4
    fill: mat.get-color-from-palette($primary, 600) !important;
  }

  .ga-time-of-day-chart .blue-4 rect {
    //fill: #2f5ec4
    fill: mat.get-color-from-palette($primary, 800) !important;
  }

  .ga-time-of-day-chart .grey-1 rect {
    fill: rgba(0, 0, 0, 0.12)
  }

  .ga-time-of-day-chart .legend-block.blue-1 {
    //fill: #93d5ed
    fill: mat.get-color-from-palette($primary, 100) !important;
  }

  .ga-time-of-day-chart .legend-block.blue-2 {
    //fill: #45a5f5
    fill: mat.get-color-from-palette($primary, 200) !important;
  }

  .ga-time-of-day-chart .legend-block.blue-3 {
    //fill: #4285f4
    fill: mat.get-color-from-palette($primary, 500) !important;
  }

  .ga-time-of-day-chart .legend-block.blue-4 {
    //fill: #2f5ec4
    fill: mat.get-color-from-palette($primary, 900) !important;
  }

  .ga-time-of-day-chart .legend-block.grey-1 {
    fill: rgba(0, 0, 0, 0.12)
  }

}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include iot-time-of-the-day-theme($theme);
  }

}
